*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #09161d;
}

/* Style 1 */
.card-1
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 10px 10px 5px 5px #000000;
}

.card-1::before
{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #2196f3;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card-1:hover::before
{
    top: -70%;
    transform: skewY(390deg);
}

.card-1::after
{
    content: 'ZITECHDEV';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card-1 .img-1
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card-1 .img-1 img
{
    max-width: 100%;
    transition: 0.5s;
}

.card-1:hover .img-1 img
{
    max-width: 50%;
}

.card-1 .content-1
{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card-1 .content-1 .name-1
{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-1 .content-1 .price-1
{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-1 .content-1 .description-1
{
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    opacity: 0;
    visibility: hidden;
}

.card-1:hover .content-1 .description-1
{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.card-1 .content-1 .button-1
{
    position: relative;
    top: 200px;
    bottom: 10px;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card-1:hover .content-1 .button-1
{
    top: 0;
    opacity: 1;
}

/* Style 2 */
.card-2
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 10px 10px 5px 5px #000000;
}

.card-2::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2196f3;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.card-2:hover::before
{
    clip-path: circle(300px at 80% -20%);
}

.card-2::after
{
    content: 'ZITECHDEV';
    position: absolute;
    top: 30%;
    left: -20%;
    font-weight: 800;
    font-size: 12em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.card-2 .img-2
{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 120px;
    transform: translateY(-50%);
    transition: 0.5s;
    z-index: 10000;
}

.card-2:hover .img-2
{
    top: 0%;
    transform: translateY(30%);
}

.card-2 .img-2 img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}

.card-2:hover .img-2 img
{
    max-width: 50%;
    transform: translate(-50%,-50%) rotate(-20deg);
    transition: 0.5s;
}

.card-2 .content-2
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.card-2:hover .content-2
{
    height: 250px;
}

.card-2 .content-2 .name-2,
.card-2 .content-2 .price-2,
.card-2 .content-2 .description-2
{
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
}

.card-2 .content-2 .price-2,
.card-2 .content-2 .description-2
{
    opacity: 0;
    visibility: hidden;
}
.card-2:hover .content-2 .price-2,
.card-2:hover .content-2 .description-2
{
    opacity: 1;
    visibility: visible;
}

.card-2 .content-2 .description-2
{
    margin: 10px 20px 0 20px;
    font-weight: 100;
    font-size: 15px;
    text-transform: none;
}

.card-2 .content-2 .button-2
{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #2196f3;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.card-2:hover .content-2 .button-2
{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

/* Style 3 */
.card-3
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #122936;
    border-radius: 20px;
    overflow: visible;
    margin: 20px;
    box-shadow: 10px 10px 5px 5px #000000;
    transform-style: preserve-3d;
}

.card-3::before
{
    content: 'ZITECH';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    writing-mode: vertical-rl; 
    opacity: 0;
}

.card-3::after
{
    content: 'DEV';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    writing-mode: vertical-rl; 
    opacity: 0;
    transform: 0.5s;
}

.card-3:hover::before,
.card-3:hover::after
{
    opacity: 0.04;
}

.card-3 .price-3
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
}

.card-3:hover .price-3
{
    top: 40px;
    opacity: 1;
}

.card-3 .name-3,
.card-3 .description-3
{
    position: absolute;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
}

.card-3 .name-3
{
    text-transform: uppercase;
    top: 65%;
}

.card-3 .description-3
{
    top: 72%;
}

.card-3:hover .name-3,
.card-3:hover .description-3
{
    opacity: 0;
    visibility: visible;
}

.card-3 .button-3
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #2196f3;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.card-3:hover .button-3
{
    bottom: 30px;
    opacity: 1;
}

.card-3 .circle-3
{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #2196f3;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px);
    z-index: 10;
    opacity: 1;
}

.card-3:hover .circle-3
{
    top: 50%;
}

.card-3 .img-3
{
    position: absolute;
    top: 40%;
    left: 50%;
    max-width: 220px;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,100px);
    transition: 0.5s;
    z-index: 11;
}

.card-3:hover .img-3
{
    top: 50%;
    transform: translate3d(-50%,-50%,100px) rotate(15deg);
}