.zi-logo-sm {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.zi-slide{
    width: 100%;
    height: 700px;
    background-color: black;
    color: white;
    opacity: 80%;
}

.zi-opacity-0{ opacity: 0; }
.zi-opacity-1{ opacity: 0.2; }
.zi-opacity-2{ opacity: 0.4; }
.zi-opacity-3{ opacity: 0.6; }
.zi-opacity-4{ opacity: 0.8; }
.zi-opacity-5{ opacity: 1; }

.zi-mask-1{
    -webkit-mask-image: linear-gradient(to bottom right, transparent 1%, rgba(0, 0, 0, 0.85) 45%);
    mask-image: linear-gradient(to bottom right, transparent 1%, rgba(0, 0, 0, 0.85) 45%);
}

/* Next & previous buttons */
.zi-prev, .zi-next {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 35%;
    bottom: 35%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .zi-prev {
    border-radius: 0 20px 20px 0;
  }
  
  /* Position the "next button" to the right */
  .zi-next {
    right: 0;
    border-radius: 20px 0 0 20px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .zi-prev:hover, .zi-next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 
.zi-quote {
    position: absolute;
    width: auto;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    background-color: #9ACD32;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 5px 5px #000000;
    -ms-transform: rotate(-10deg); /* IE 9 */
    transform: rotate(-10deg);
}

.typed-cursor{
	opacity: 1;
	font-weight: 300;
  color: #3b3838;
  font-size: 2.5em;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.carousel-inner .carousel-item.active > .zi-slide {
  -webkit-animation: zoom 1s forwards;
  animation: zoom 1s forwards;
}

@-webkit-keyframes zoom {
  from {
      -webkit-transform: scale(1.2, 1.2);
  }
  to {
     -webkit-transform: scale(1, 1);
  }
}

@keyframes zoom {
  from {
      transform: scale(1.2, 1.2);
  }
  to {
      transform: scale(1, 1);
  }
}